PORT=4000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://journeyfaith:jf_dev_2025@localhost:27027/journeyfaith_dev?authSource=admin

# Redis
REDIS_URL=redis://localhost:6382

# Authentication
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Firebase Admin (Para Push Notifications)
FIREBASE_PROJECT_ID=seu_project_id
FIREBASE_CLIENT_EMAIL=seu_client_email@appspot.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# AWS S3 (ou R2 Cloudflare)
AWS_S3_BUCKET=journeyfaith-media
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
AWS_REGION=us-east-1
